{% extends 'userBase.html' %}
{% block title %} OTP Varification{% endblock title %}

{% block form %}

<section class="container1 forms">
    <div class="form login">
        <div class="form-content">
            {% include 'message.html' %}
            <h3>One-time password has been sent to email-id.</h3>
            <h3>Please check the email for verification</h3>
            <form action="/user/addUser" method="post" id="sipfrm">

                <div class="field input-field">
                    <input type="text" placeholder="Enter OTP" class="input" name="otp" minlength="4" maxlength="4"
                        required>
                </div>
                <div class="field input-field">
                    <input type="text" placeholder="Enter Password" class="password" name="password" minlength="8"
                        maxlength="20" required>
                </div>


                <div class="field button-field">
                    <button type="submit">Verify OTP</button>
                </div>
            </form>

        </div>
        <!-- <script src="static/assets/js/v-main.js"></script> -->


        {% endblock form %}