{% extends 'userBase.html' %}
{% block title %} User Login{% endblock title %}


{% block body %}
<div class="containerI">
    <section class="container1 forms">
        <div class="form login">
            <div class="form-content">
                <header>Login</header>
                <form action="/user/login" method="post" id="logFrm">
                    {% include "message.html" %}
                    <div class="field input-field">
                        <input type="text" placeholder="Enter Email" class="input" name="email" required>
                    </div>

                    <div class="field input-field">
                        <input type="password" placeholder="Enter Password" class="password" name="password"
                            minlength="8" required>
                        <i class='bx bx-hide eye-icon'></i>
                    </div>

                    <div class="field button-field">
                        <button type="submit">Get OTP</button>
                    </div>
                </form>

                <div class="form-link">
                    <span>Don't have an account? <a href="{{ url_for('user.user_signup') }}"
                            class="link signup-link">Signup</a></span>
                </div>
            </div>

        </div>



        {% endblock body %}