{% extends 'userBase.html' %}
{% block title %} User SignUp{% endblock title %}


{% block body %}
<br>
<br>
<div class="containerI">
    <section class="container1 forms">
        <div class="form login">

            <div class="form-content">
                {% include 'message.html' %}
                <header>Signup</header>
                <form action="/user/signup" method="post" id="sipfrm">

                    <div class="field input-field">
                        <input type="text" placeholder="Full Name" class="input" name="name" maxlength="50" required>
                    </div>

                    <div class="field input-field">
                        <input type="email" placeholder="Email" class="input" name="email" required>
                    </div>

                    <div class="field input-field">
                        <input type="tel" placeholder="Contact No." class="contact" name="contact" required>
                    </div>

                    <div class="field input-field">
                        <input type="text" placeholder="Gender" class="contact" name="gender" required>
                    </div>

                    <div class="field input-field">
                        <input type="text" placeholder="Address" class="contact" name="address" required>
                    </div>

                    <div class="field button-field">
                        <button type="submit">Get OTP</button>
                    </div>
                </form>

                <div class="form-link">
                    <span>Already have an account? <a href="{{ url_for('user.user_login') }}"
                            class="link login-link">Login</a></span>
                </div>
            </div>
        </div>


        {% endblock body %}