{% extends 'hbase.html' %}
{% block title %} Hospital Login{% endblock title %}


{% block body %}

<section class="container1 forms">
    <div class="form login">
        <div class="form-content">
            {% include "message.html" %}
            <header>Hospital Login</header>
            <form action="/hospital/login" method="post" id="logFrm">
                <div class="field input-field">
                    <input type="email" placeholder="Enter Email" class="input" name="email" required>
                </div>

                <div class="field input-field">
                    <input type="password" placeholder="Enter Password" class="password" name="password" required>
                    <i class='bx bx-hide eye-icon'></i>
                </div>

                <div class="field button-field">
                    <button type="submit">Login</button>
                </div>
            </form>

        </div>
        <script src="static/assets/js/v-main.js"></script>

        {% endblock body %}